.card{
    
     &__header{
         display: flex;
         align-items: center;
         justify-content: space-between;
         width: 100%;
         margin-top: 1.8rem;
     }
  
     &__price{
         font-family: 'Open Sans';
         font-weight: 600;
         font-size: 2.4rem;
         color: #2196F3;
     }

}