.pagination__btn{
    height: 5rem;
    width: 50.2rem;
    background-color: #2196F3;
    color: #FFFFFF;
    margin-left: 24rem;
    margin-top: 2rem;
    border-radius: 5px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 20px;
    letter-spacing: 0.7px;
    text-transform: uppercase;

}